.navbar-brand>img{
    width: 150px;
}
/* Underline From Center */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    /* overflow: hidden; */
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fd5f00;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
nav.navbar.navbar-default.navbar-fixed-top{
    background: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color:#3498db;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#3498db;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover {
    color: #3498db !important;
}
.navbar-default.sticky .navbar-nav>.open>a, .navbar-default.sticky .navbar-nav>.open>a:hover {
    color: #ffffff !important;
}

.navbar-default.sticky .navbar-nav>.active>a, .navbar-default.sticky .navbar-nav>.active>a:focus, .navbar-default.sticky .navbar-nav>.active>a:hover {
    color: #ffffff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border-bottom: none !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    border-bottom: none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #ffffff;
}
.navbar-nav>li>.dropdown-menu a{
	display: block;
    padding: 4px 10px;
    color:black;
}
.navbar-nav>li>.dropdown-menu a:hover{
    background:#3498db;
    color: #ffffff;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 15px;
}
.navbar .nav>li {
    padding: 0 13px;
    
}


.counter-data h2 {
    color: #ffffff;
}
.d-flex-row{
    display: flex;
    flex-wrap: wrap;
}






/*footer*/

.col_white_amrc {
    color: #fff;
}

footer {
    width: 100%;
    /* background-color: #263238; */
    min-height: 250px;
    padding: 10px 0px 25px 0px;
    background-image: url(../images/footer/footer_bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

footer::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #2d8cc4c2;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #ffffff;
}

.footer_ul_amrc li a:hover {
    color: #ccc;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.fa,
.fab,
.fas {
    color: #fd5f00;
}

.footer_ul2_amrc a {
    color: #ffffff;
}

.footer_ul2_amrc a:hover {
    color: #ccc;
}

